body, html {  
    margin: 0;  
    padding: 0;  
    font-family: Arial, sans-serif;  
    background-color: black; 
    }

@media (min-width: 768px) {
    .first{
        color: white;
        font-size: 100px;
        padding: 50px;
        text-align: center;
    }
    .type{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 50px; /* 增加每个链接下方的间距 */  
        display: block; /* 使链接独占一行 */  
        color: rgb(72, 180, 234);
        text-decoration: none; /* 移除下划线 */  
    }
    .container {  
        text-align: center; /* 使容器内的内容水平居中 */  
    }  
    .header-image {  
        width: 100%;  
        height: auto;
        margin-bottom: 10px;  
    }  
    .click{
        color: white;
        font-size: 30px;
        padding: 20px;
        text-align: center; 
        font-family: 'Courier New', Courier, monospace;
    }
    .content{  
        float: left; /* 或者使用 position: relative; 根据需要 */  
        margin-right: 20px; /* 与右侧内容保持一定距离 */  
    }  
  
    .content img {  
        width: 50%; /* 根据需要调整 */  
        height: auto; /* 保持图片比例 */ 
        position: relative;
        top: -650px; 
    }  

}  


@media (max-width: 767px) {  
    .first{
        color: white;
        font-size: 50px;
        text-align: center;
        margin-bottom: 60px; /* 增加每个链接下方的间距 */  
        display: block; /* 使链接独占一行 */  
    }
    .type{
        font-size: 30px;
        color: rgb(72, 180, 234);
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 50px; /* 增加每个链接下方的间距 */  
        display: block; /* 使链接独占一行 */  
        text-decoration: none; /* 移除下划线 */  
    }
    .container {  
        text-align: center; /* 使容器内的内容水平居中 */  
    } 
    .header-image{  
        width: 100%;  
        height: auto;

    } 
    .click{
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; 
        font-family: 'Courier New', Courier, monospace;
    }

}
